In [1]:
import pandas as pd
df = pd.read_csv('Project/pdata/happy_0814.csv')

df['country']= df['country'].astype("category")
df['year']= df['year'].astype("category")
df['country_num']= df['country_num'].astype("category")
df['continent']= df['continent'].astype("category")

ndf=df.sample(frac=1,random_state=4).reset_index(drop=True)  # random_state 안 하면 DW가 실행시마다 달라짐
ndf

,country,year,HS,log_gdp,social,life_exp,freedom,generosity,corruption,schooling,alcohol,suicide,obesity,birth,mental,country_num,continent
0,Nicaragua,2018,5.819,8.647,0.854,67.50,0.797,0.009,0.713,6.7,7.271933,1.606224,13.48,2.404,6.731602,558,Nor.A
1,Ghana,2012,5.057,8.397,0.685,54.86,0.679,0.040,0.898,6.8,2.164331,0.829040,5.47,4.192,2.803341,288,AF
2,Benin,2006,3.330,7.866,0.445,50.10,0.580,-0.011,0.790,2.8,2.483526,0.648848,2.67,5.576,1.761833,204,AF
3,Sri Lanka,2017,4.331,9.440,0.823,67.00,0.827,0.094,0.844,10.9,2.047085,3.587271,9.41,2.206,6.312512,144,AS
4,Bangladesh,2015,4.633,8.216,0.601,62.80,0.815,-0.068,0.721,5.2,0.184365,1.091818,4.26,2.120,5.490531,50,AS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,Colombia,2011,6.464,9.442,0.904,65.92,0.811,-0.073,0.847,7.5,0.240863,1.313381,9.64,1.958,5.655645,170,SA
1877,India,2014,4.424,8.538,0.621,58.60,0.809,-0.026,0.832,6.1,2.232304,2.190966,4.46,2.333,4.357688,356,AS
1878,Denmark,2017,7.594,10.916,0.952,72.10,0.955,0.155,0.181,12.6,8.592318,1.281387,7.61,1.750,6.558833,208,EU
1879,Bhutan,2014,4.939,9.167,0.880,59.90,0.834,0.268,0.650,3.1,1.656511,1.163591,6.14,2.067,5.800284,64,AS
1880,Namibia,2017,4.441,9.215,0.828,56.20,0.810,-0.190,0.831,6.8,2.434991,1.359562,6.29,3.447,3.527538,516,AF

In [25]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
x= ndf[['log_gdp', 'social', 'life_exp', 'freedom','generosity', 'corruption', 
       'schooling', 'alcohol', 'suicide','obesity', 'birth', 'mental']]
xnor = MinMaxScaler().fit_transform(x)
dfnor = pd.DataFrame(xnor)
dfnor.columns = ['log_gdp', 'social', 'life_exp', 'freedom', 'generosity', 'corruption', 'schooling', 'alcohol',
                     'suicide','obesity', 'birth', 'mental']

# 정규화 안한 컬럼 dfnor에 추가
dfnor[['HS','year','country','country_num','continent']]= ndf[['HS','year','country','country_num','continent']]
dfnor

,log_gdp,social,life_exp,freedom,generosity,corruption,schooling,alcohol,suicide,obesity,birth,mental,HS,year,country,country_num,continent
0,0.401356,0.809182,0.785714,0.741403,0.333011,0.715190,0.421875,0.269256,0.215085,0.507264,0.206485,0.530582,5.819,2018,Nicaragua,558,Nor.A
1,0.351486,0.566714,0.503571,0.579092,0.363020,0.910338,0.429688,0.075482,0.093262,0.184019,0.479963,0.179361,5.057,2012,Ghana,288,AF
2,0.245562,0.222382,0.397321,0.442916,0.313650,0.796414,0.117188,0.087591,0.065017,0.071025,0.691649,0.086241,3.330,2006,Benin,204,AF
3,0.559545,0.764706,0.774554,0.782669,0.415295,0.853376,0.750000,0.071034,0.525613,0.343019,0.176201,0.493112,4.331,2017,Sri Lanka,144,AS
4,0.315380,0.446198,0.680804,0.766162,0.258470,0.723629,0.304688,0.000365,0.134452,0.135190,0.163047,0.419619,4.633,2015,Bangladesh,50,AS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,0.559944,0.880918,0.750446,0.760660,0.253630,0.856540,0.484375,0.002508,0.169182,0.352300,0.138269,0.434382,6.464,2011,Colombia,170,SA
1877,0.379613,0.474892,0.587054,0.757909,0.299129,0.840717,0.375000,0.078060,0.306743,0.143261,0.195626,0.318333,4.424,2014,India,356,AS
1878,0.853980,0.949785,0.888393,0.958735,0.474347,0.154008,0.882812,0.319349,0.164167,0.270379,0.106455,0.515135,7.594,2017,Denmark,208,EU
1879,0.505087,0.846485,0.616071,0.792297,0.583737,0.648734,0.140625,0.056216,0.145703,0.211057,0.154940,0.447314,4.939,2014,Bhutan,64,AS
1880,0.514662,0.771879,0.533482,0.759285,0.140368,0.839662,0.429688,0.085750,0.176421,0.217111,0.366014,0.244110,4.441,2017,Namibia,516,AF

In [26]:
dfnor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1881 entries, 0 to 1880
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   log_gdp      1881 non-null   float64
 1   social       1881 non-null   float64
 2   life_exp     1881 non-null   float64
 3   freedom      1881 non-null   float64
 4   generosity   1881 non-null   float64
 5   corruption   1881 non-null   float64
 6   schooling    1881 non-null   float64
 7   alcohol      1881 non-null   float64
 8   suicide      1881 non-null   float64
 9   obesity      1881 non-null   float64
 10  birth        1881 non-null   float64
 11  mental       1881 non-null   float64
 12  HS           1881 non-null   float64
 13  year         1881 non-null   category
 14  country      1881 non-null   category
 15  country_num  1881 non-null   category
 16  continent    1881 non-null   category
dtypes: category(4), float64(13)
memory usage: 213.6 KB

## Train, Test 데이터 분리

In [19]:
X_data = dfnor[['log_gdp', 'social', 'life_exp', 'freedom','generosity', 'corruption', 
       'schooling', 'alcohol', 'suicide','obesity', 'birth', 'mental','country_num']]

In [20]:
y_target = dfnor[['HS']]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_data, y_target,
                                                  test_size=0.2, random_state=4)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1504, 13)
(1504, 1)
(377, 13)
(377, 1)

## 1. Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

train_mse = mean_squared_error(y_train, y_pred_train)
train_rmse = np.sqrt(train_mse)

test_mse = mean_squared_error(y_test, y_pred_test)
test_rmse = np.sqrt(test_mse)

print('lr.coef_: {}'.format(lr.coef_))
print('Train MSE:{0:.3f}, RMSE:{1:3.3F}'.format(train_mse, train_rmse))
print('Train Variance score: {0:.3f}'.format(r2_score(y_train, y_pred_train)))
print('Test MSE:{0:.3f}, RMSE:{1:3.3F}'.format(test_mse, test_rmse))
print('Test Variance score: {0:.3f}'.format(r2_score(y_test, y_pred_test)))

lr.coef_: [[ 2.50109895e+00  1.49609905e+00  1.97923949e+00  7.47746182e-01
   6.37584997e-01 -2.75747941e-01 -2.39737634e-01  9.13885567e-01
  -6.44886476e-01 -4.54110268e-01  9.49461316e-01  5.90452120e-01
  -2.21842852e-05]]
Train MSE:0.288, RMSE:0.536
Train Variance score: 0.773
Test MSE:0.272, RMSE:0.521
Test Variance score: 0.780

## 2. Ridge Regression

In [29]:
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
ridge = Ridge(random_state=4)

cv_method = KFold(n_splits=10)
params = {
    'alpha': [0.001, 0.005, 0.01, 0.015, 0.1, 1, 10]
}
dt_grid_cv = GridSearchCV(ridge, param_grid=params, scoring='neg_mean_squared_error', cv=cv_method, n_jobs=-1)
dt_grid_cv.fit(X_train, y_train)

y_pred_test = dt_grid_cv.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred_test)
test_rmse = np.sqrt(test_mse)

neg_mse = dt_grid_cv.best_score_
mse = -1 * neg_mse
rmse = np.sqrt(mse)

print(dt_grid_cv.best_params_)
print(dt_grid_cv.best_score_)
print(rmse)
print(test_rmse)

{'alpha': 0.1}
-0.293925933013206
0.5421493641176811
0.5208492525674218

## 3. Lasso Regression

In [30]:
from sklearn.linear_model import Lasso
lasso = Lasso(random_state=4)

cv_method = KFold(n_splits=10)
params = {
    'alpha': [0.0001, 0.005, 0.01, 0.1, 1, 10]
}
dt_grid_cv = GridSearchCV(lasso, param_grid=params, scoring='neg_mean_squared_error', cv=cv_method, n_jobs=-1)
dt_grid_cv.fit(X_train, y_train)

y_pred_test = dt_grid_cv.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred_test)
test_rmse = np.sqrt(test_mse)

neg_mse = dt_grid_cv.best_score_
mse = -1 * neg_mse
rmse = np.sqrt(mse)

print(dt_grid_cv.best_params_)
print(dt_grid_cv.best_score_)
print(rmse)
print(test_rmse)

{'alpha': 0.0001}
-0.2939798326487746
0.5421990710511911
0.5209314488824647

## 4. ElasticNet Regression

In [31]:
from sklearn.linear_model import ElasticNet

elasticnet = ElasticNet(random_state=4)

cv_method = KFold(n_splits=10)
params = {
    'alpha': [0.0001, 0.005, 0.01, 0.1, 1, 10]
}
dt_grid_cv = GridSearchCV(elasticnet, param_grid=params, scoring='neg_mean_squared_error', cv=cv_method, n_jobs=-1)
dt_grid_cv.fit(X_train, y_train)

y_pred_test = dt_grid_cv.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred_test)
test_rmse = np.sqrt(test_mse)

neg_mse = dt_grid_cv.best_score_
mse = -1 * neg_mse
rmse = np.sqrt(mse)

print(dt_grid_cv.best_params_)
print(dt_grid_cv.best_score_)
print(rmse)
print(test_rmse)

{'alpha': 0.0001}
-0.293945267128659
0.5421671948104745
0.52078677639863